BuildingDatasets/DatasetExtensions/IFC2x3_psets/datagroupsystem/COBie_Component.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="bDateTimeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="COBie_Component">
		<xs:complexType>
			<xs:attribute name="WarrantyStartDate" type="bDateTimeType" use="optional"/>
			<xs:attribute name="TagNumber" type="xs:string" use="optional" default="n/a"/>
			<xs:attribute name="AssetIdentifier" type="xs:string" use="optional" default="n/a"/>
			<xs:attribute name="InstallationDate" type="bDateTimeType" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>