BuildingDatasets/DatasetExtensions/IFC2x3_psets/datagroupsystem/COBie_Asset.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="bEnumLookupType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="COBie_Asset">
		<xs:complexType>
			<xs:attribute name="AssetType" type="bEnumLookupType" use="optional" default="Fixed"/>
		</xs:complexType>
	</xs:element>
</xs:schema>