BuildingDatasets/DatasetExtensions/IFC2x3_psets/datagroupsystem/Pset_SpaceParking.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Pset_SpaceParking">
		<xs:complexType>
			<xs:attribute name="HandicapAccessible" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="ParkingUse" type="xs:string" use="optional"/>
			<xs:attribute name="ParkingUnits" type="xs:integer" use="optional" default="1"/>
		</xs:complexType>
	</xs:element>
</xs:schema>