BuildingDatasets/DatasetExtensions/IFC2x3_psets/datagroupsystem/Pset_RailingCommon.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="bWorkingUnitsType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="Pset_RailingCommon">
		<xs:complexType>
			<xs:attribute name="Height" type="bWorkingUnitsType" use="optional"/>
			<xs:attribute name="Reference" type="xs:string" use="optional" default=""/>
			<xs:attribute name="Diameter" type="bWorkingUnitsType" use="optional"/>
			<xs:attribute name="IsExternal" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
