BuildingDatasets/DatasetExtensions/IFC2x3_psets/datagroupsystem/Pset_DoorWindowShadingType.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="Pset_DoorWindowShadingType">
                <xs:complexType>
                        <xs:attribute name="ExternalShadingCoefficient" type="xs:decimal" use="optional" default="0"/>
                        <xs:attribute name="InternalShadingCoefficient" type="xs:decimal" use="optional" default="0"/>
                        <xs:attribute name="InsetShadingCoefficient" type="xs:decimal" use="optional" default="0"/>
                </xs:complexType>
        </xs:element>
</xs:schema>

