BuildingDatasets/DatasetExtensions/IFC2x3_psets/datagroupsystem/Pset_ElectricGeneratorTypeCommon.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Pset_ElectricGeneratorTypeCommon">
		<xs:complexType>
			<xs:sequence/>
			<xs:attribute name="ElectricGeneratorEfficiency" type="xs:decimal" use="optional"/>
			<xs:attribute name="StartCurrentFactor" type="xs:decimal" use="optional"/>
			<xs:attribute name="MaximumPowerOutput " type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>