BuildingDatasets/DatasetExtensions/IFC2x3_psets/datagroupsystem/Pset_ElectricalCircuit.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="bEnumLookupType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="Pset_ElectricalCircuit">
		<xs:complexType>
			<xs:attribute name="Diversity" type="xs:decimal" use="optional"/>
			<xs:attribute name="NumberOfPhases" type="xs:integer" use="optional"/>
			<xs:attribute name="MaximumAllowedVoltageDrop" type="xs:integer" use="optional"/>
			<xs:attribute name="NetImpedance" type="xs:decimal" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>