BuildingDatasets/DatasetExtensions/IFC2x3_psets/datagroupsystem/Pset_CableCarrierSegmentTypeCableLadderSegment.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="bEnumLookupType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="Pset_CableCarrierSegmentTypeCableLadderSegment">
		<xs:complexType>
			<xs:attribute name="NominalLength" type="xs:decimal" use="optional"/>
			<xs:attribute name="NominalWidth" type="xs:decimal" use="optional"/>
			<xs:attribute name="NominalHeight" type="xs:decimal" use="optional"/>
			<xs:attribute name="LadderConfiguration " type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
