BuildingDatasets/DatasetExtensions/IFC2x3_psets/datagroupsystem/Pset_SiteCommon.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="bAreaUnitsType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="bWorkingUnitsType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="Pset_SiteCommon">
		<xs:complexType>
			<xs:attribute name="BuildableArea" type="bAreaUnitsType" use="optional"/>
			<xs:attribute name="TotalArea" type="bAreaUnitsType" use="optional"/>
			<xs:attribute name="BuildingHeightLimit" type="bWorkingUnitsType" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>