BuildingDatasets/DatasetExtensions/IFC2x3_psets/datagroupsystem/Pset_CoveringFlooring.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="Pset_CoveringFlooring">
                <xs:complexType>
                        <xs:attribute name="HasAntiStaticSurface" type="xs:boolean" use="optional" default="false"/>
                        <xs:attribute name="HasNonSkidSurface" type="xs:boolean" use="optional" default="false"/>
                </xs:complexType>
        </xs:element>
</xs:schema>
