BuildingDatasets/DatasetExtensions/IFC2x3_psets/datagroupsystem/Pset_SpaceLightingRequirements.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="Pset_SpaceLightingRequirements">
                <xs:complexType>
                        <xs:attribute name="Illuminance" type="xs:decimal" use="optional" default="0"/>
                        <xs:attribute name="ArtificialLighting" type="xs:boolean" use="optional" default="false"/>
                </xs:complexType>
        </xs:element>
</xs:schema>

