BuildingDatasets/DatasetExtensions/IFC2x3_psets/datagroupsystem/Pset_CoilTypeCommon.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Pset_CoilTypeCommon">
		<xs:complexType>
			<xs:attribute name="OperationalTemperatureRange" type="xs:decimal" use="optional"/>
			<xs:attribute name="AirflowRateRange" type="xs:decimal" use="optional"/>
			<xs:attribute name="NominalSensibleCapacity" type="xs:decimal" use="optional"/>
			<xs:attribute name="NominalLatentCapacity" type="xs:decimal" use="optional"/>
			<xs:attribute name="NominalUA" type="xs:decimal" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>