BuildingDatasets/DatasetExtensions/IFC2x3_psets/datagroupsystem/Pset_SwitchingDeviceTypeCommon.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="bEnumLookupType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="Pset_SwitchingDeviceTypeCommon">
		<xs:complexType>
			<xs:attribute name="NumberOfGangs" type="xs:integer" use="optional"/>
			<xs:attribute name="SwitchFunction" type="bEnumLookupType" use="optional"/>
			<xs:attribute name="HasLock" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>